@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    font-family: Poppins, sans-serif;
}

.card-img-top{
    width: 80%;
    height: 50%;
}
.card{
    max-width: 300px;
    margin-bottom: 30px;
    margin-right: 30px;
}